extends layout 

block content
    section(class="list")
        h1(class="list__title")= title
        button(class="btn")
            a(href="/cookbook/course/create") Create a new course!

        ul 
            each course in course_list
                li(class="list__item")
                    a(href=course.url) #{course.name}