extends layout 

block content
    h1(class="courseList__title")= title
    a(href="/cookbook/course/create") Create a new course!

    ul 
        each course in course_list
            li(class="courseList__item")
                a(href=course.url) #{course.name}