extends layout

block content
  section(class="form")
    h1(class="form__title") #{title}

    form(class="form__form" method='POST' action='')
      div(class="form__form--section")
        label(for='name') Course:
        input(type='text', placeholder='Breakfast, lunch, dinner...' name='name' value=(undefined===course ? '' : course.name))
      button(class="btn submit" type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg