extends layout 

block content
    h1(class="cuisineList__title")= title
    a(href="/cookbook/cuisine/create") Create a new cuisine!

    ul 
        each cuisine in cuisine_list
            li(class="cuisineList__item")
                a(href=cuisine.url) #{cuisine.name}
        else 
            li There are no recipes