extends layout 

block content
    section(class="list")
        h1(class="list__title")= title
        button(class="btn")
            a(href="/cookbook/cuisine/create") Create a new cuisine!

        ul 
            each cuisine in cuisine_list
                li(class="list__item")
                    a(href=cuisine.url) #{cuisine.name}
            else 
                li There are no recipes