extends layout

block content
  p Welcome to #[em Vegan Recipes]

  if error
    p Error getting dynamic content.
  else
    ul
      li #[strong Recipes:] !{data.recipe_count}
      li #[strong Courses:] !{data.course_count}
      li #[strong Cuisines:] !{data.cuisine_count}
