extends layout

block content
  section(class="delete")
    h1(class="delete__title") #{title}: #{recipe.name}

    p Do you really want to delete this recipe?

    form(method='POST' action='')
      div
          input(type='hidden', name='recipeid', required='true', value=recipe._id )

      button(class="btn submit" type='submit') Delete